@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    overflow-x: hidden;
    background-image: url(bodybg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.333);
    color: white;
    justify-content: space-between;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 70px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.search-bar input {
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}

.playlist{
    font-weight: bolder;
    padding: 8px;
    font-size: 1.9rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pl-cover{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

.pl-list{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.playlist-controls i {
    margin: 0 5px;
    cursor: pointer;
    color: white;
}

.container{
    min-height: 72vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    box-shadow: 3px 3px 3px 3px black;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 90px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgba(92, 74, 74, 0.288);
}

.icons {
   margin-left:80%; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px
}

.songItem{
    height: 60px;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: background 0.3s;
}
.songItem:hover {
    background: rgba(255, 255, 255, 0.2);
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.songName {
    flex-grow: 1;
    margin-left: 10px;
    text-align: left;
}

.songItem:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
    text-align: left;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: rgb(255, 255, 255);
    }
}
